.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding-top: 70px;
}


.proficiency {
  padding-top: 1rem;
  font-size: larger;
  color: black;
}
.button {
  background-color: #c175ff;
  border-radius: 1rem;
  padding: 1rem;
}

.resume-title {
  color: black;
}

